In [9]:
name = "ကျော်ခိုင်"
age = 30
message = f"My name is {name}, and {age} year old"
print(message)

My name is ကျော်ခိုင်, and 30 year old

In [10]:
price = 10.5
quantity = 2
total = f"The total cost is {price * quantity} MMK."
print(total)

The total cost is 21.0 MMK.

In [5]:
a, *b = (1,2,3,4,5,6)
print(type(a))
print(a)
print(b)

<class 'int'>
1
[2, 3, 4, 5, 6]

In [4]:
def myFun(a,b,c,*args): #arbitary argument or end of positional argument
    print(a)
    print(b)
    print(c)
    print(*args)

myFun(1,2,3,4,5,6,7)

1
2
3
4 5 6 7

In [7]:
def avg(*args):
    length = len(args)
    total = sum(args)
    return total/length
result = avg(1,2,3,4,5)
print(result)

3.0

In [14]:
def print_user_info(*args,**usr_data):
    print('User information: ')
    print(f'that is postional argument: {args}')
    for key, value in usr_data.items():
        print(f'{key}: {value}')
print_user_info(1,2,3,4,5,name='kyaw khine', age =30, city='Mandalay')

User information:
that is postional argument: (1, 2, 3, 4, 5)
name: kyaw khine
age: 30
city: Mandalay

In [26]:
def myFun(a,b,*c,d):
    print(a)
    print(b)
    print(c)
    print(d)
myList = [1,2,3,4,5,6,7,8]
myFun(*myList,d=9)

1
2
(3, 4, 5, 6, 7, 8)
9

In [2]:
import time

def myFun(fn, *args,rep=1,**kwargs):
    start = time.perf_counter()
    for i in range(rep):
        fn(*args, **kwargs)
    end = time.perf_counter()
    avg_time = (end-start)/rep
    fn(avg_time)
myFun(print,1,2,3,sep='-',end="***\n",rep=5)

1-2-3***
1-2-3***
1-2-3***
1-2-3***
1-2-3***
4.6279200000753916e-05

In [2]:
x = 4
lambda x: x*2
print(x)

4

In [3]:
x = 10
print(lambda x: x*2)

<function <lambda> at 0x797040dc6a70>

In [5]:
x = lambda y,z=10: y * z
print(x(4,6))

24

In [2]:
numbers = [1,2,3,4,5]

multiply_nums = list(map(lambda num: num * 2, numbers))
print(multiply_nums)

[2, 4, 6, 8, 10]

In [5]:
print(callable(print))
print(callable('xyz'.upper))


test = print('Hello')
print(test)

al = [1,2,3,4,6,7]
result = al.append(5)
print(al)
print(result)

callable( )

True
True
Hello
None
[1, 2, 3, 4, 6, 7, 5]
None

True

In [4]:
list1 = ['a','b','c','d','e']
iterator = iter(list1)

print(list1)
print(next(iterator))

['a', 'b', 'c', 'd', 'e']
<list_iterator object at 0x79cfc87ee9b0>